{% extends "base.html" %}

{% block extra_style %}
{% endblock extra_style %}

{% block extra_js %}
<script src="/static/bower_components/select2/select2.js"></script>
<script type="text/javascript">
	$("select.select2").select2();
	$("#guests").select2({
		tags:[],
		formatNoMatches: function(term) {
			return "Namen eingeben und Enter drücken";
		}
	});
</script>
{% endblock extra_js %}

{% block body %}
	<div id="minute-meta" class="new">
		<h1>
			Protokoll
			<span class="new">hinzufügen</span>
			<span class="change">ändern</span>
		</h1>

		<form>
			<div class="field">
				<!-- TODO: Polyfil -->
				<label for="date">Sitzungsdatum</label>
				<input id="date" type="date" />
			</div>
			<div class="field">
				<label for="writer">Protokollant</label>
				<div class="nested">
					<select class="select2" id="writer" data-placeholder="">
						<option></option>
						<!-- PROPER OPTIONS GO HERE -->
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				</div>
			</div>
			<div class="field">
				<label for="leader">Sitzungsleitung</label>
				<div class="nested">
					<select class="select2" id="leader" data-placeholder="">
						<option></option>
						<!-- PROPER OPTIONS GO HERE -->
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				</div>
			</div>
			<div class="field">
				<label for="cando">Beschlussfähig</label>
				<div class="nested slider">
					<label for="cando" onclick="">
						<input id="cando" type="checkbox">
						<a></a><div>Nein</div><div>Ja</div>
					</label>
				</div>
			</div>
			<div class="field">
				<label for="fsr">Anwesenheit</label>
				<div class="nested">
					<select class="select2" id="fsr" multiple>
						<!-- PROPER OPTIONS GO HERE -->
						<option value="Wassily">Wassily Kandinsky</option>
						<option value="Wilhelm">Wilhelm Wagenfeld</option>
						<option value="T">T. Lux Feininger</option>
						<option value="Marcel">Marcel Breuer</option>
						<option value="Walter">Walter Gropius</option>
						<option value="Paul">Paul Klee</option>
						<option value="Mies">Mies van der Rohe</option>
					</select>
				</div>
			</div>
			<div class="field">
				<label for="guests">Gäste</label>
				<div class="nested">
					<input id="guests" class="select2" type="text" />
				</div>
			</div>

			<input class="save new button" value="Hinzufügen" type="submit">
			<input class="save change button" value="Änderungen übernehmen" type="submit">
		</form>
	</div>
{% endblock body %}