{% extends "base.html" %}

{% block extra_style %}
{% endblock extra_style %}

{% block extra_js %}
<script src="/static/bower_components/select2/select2.js"></script>
<script src="/static/js/redactor_de.js"></script>
<script src="/static/js/redactor.min.js"></script>

<script type="text/javascript">

	$('.redactor').redactor({
		/* URL+Enter => Link */
		lang: 'de',
		autoresize: false,
		minHeight: 400,
		buttons: ['bold', 'italic', 'underline', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent'/*, '|', 'insertlink'*/],
		/*buttonsCustom: {
			insertlink:
			{
				title: RLANG.link_insert,
				func: 'showLink'
			}
		},*/
	});


	$("select.select2").select2();
</script>
{% endblock extra_js %}

{% block body %}
	<div id="minute-top" class="edit">
		<h1>
			TOP
			<span class="new">anlegen</span>
			<span class="edit">bearbeiten</span></h1>

		<form>
			<div class="field">
				<label for="title">Titel</label>
				<input id="title" type="text" value="Sommerfest" />
			</div>
			<div class="field">
				<label for="position">
					<span class="new">Einfügen nach</span>
					<span class="edit">Positionieren nach</span>
				</label>
				<div class="nested">
					<select class="select2" id="position" data-placeholder="">
						<option></option>
						<option value="0">TOP0: Tagesordnung</option>
						<option value="1">TOP1: Mitteilungen</option>
						<option value="2">TOP2: Berichte</option>
						<option value="4">TOP4: Willkommen im Busch</option>
						<option value="5">TOP5: Technotag</option>
						<option value="6">TOP6: Anträge</option>
						<option value="7">TOP7: Verschiedenes</option>
					</select>
				</div>
			</div>
			<textarea class="redactor"></textarea>

			<input class="button new" type="submit" value="Hinzufügen" />
			<input class="button edit" type="submit" value="Änderung übernehmen" />
		</form>
{% endblock body %}