{% extends 'base.html' %}


{% block extra_js %}
<!-- Bower install selectize -->
<script src="/static/js/selectize.min.js"></script>
<script src="/static/js/selectnice.js"></script>
<script type="text/javascript">
	$('#livesearch').selectnice("live", {
		tags: ["Fachschaft", "Student"],
		objs: ".list-table .tbody .tr"
	});
</script>
{% endblock extra_js %}


{% block content %}
	<h1>Livesearch</h1>

	<div class="live">
		<input id="livesearch">
	</div>

	<div class="list-table">
		<div class="thead">
			<div class="tr">
				<div class="th w-25">Name</div>
				<div class="th w-25">eMail</div>
				<div class="th w-30">Telefon</div>
				<div class="th w-20" style="display: none">Tagss</div>
			</div>
		</div>
		<div class="tbody">
			<a class="tr" href="#">
				<div class="td w-25">Copy Shop</div>
				<div class="td w-25"></div>
				<div class="td w-25">3409 </div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">SSC</div>
				<div class="td w-25"></div>
				<div class="td w-25">5252 </div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Poststelle</div>
				<div class="td w-25"></div>
				<div class="td w-25">2217</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Unix-AG</div>
				<div class="td w-25"></div>
				<div class="td w-25">2166 </div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">AStA</div>
				<div class="td w-25">asta@rhrk.uni-kl.de</div>
				<div class="td w-25">2228</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Kramladen</div>
				<div class="td w-25"></div>
				<div class="td w-25">2016</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Fachschaft</div>
				<div class="td w-25">fachschaft@architektur.uni-kl.de</div>
				<div class="td w-25">2026</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">ZBT</div>
				<div class="td w-25"></div>
				<div class="td w-25">2232</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jürgen</div>
				<div class="td w-25">avenhaus@informatik.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Luc</div>
				<div class="td w-25">l_bach@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Sebastian</div>
				<div class="td w-25">s_bachtl@informatik.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Rouven</div>
				<div class="td w-25">r_bauer11@cs.uni-kl.de</div>
				<div class="td w-25">0178 14 30 8 44</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Hannah</div>
				<div class="td w-25">h_bayer@informatik.uni-kl.de</div>
				<div class="td w-25">06324-9114293</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Philipp</div>
				<div class="td w-25">philipp@familie-becker.eu</div>
				<div class="td w-25">0631-3705031</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Daniel</div>
				<div class="td w-25">daniel@dat-berger.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Karsten</div>
				<div class="td w-25">berns@informatik.uni-kl.de</div>
				<div class="td w-25">2613</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Anne</div>
				<div class="td w-25">a_berres@informatik.uni-kl.de</div>
				<div class="td w-25">0631 205 2887</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Fachschaft</div>
				<div class="td w-25">fachschaft@bauing.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Tobias</div>
				<div class="td w-25">t.bielohlawek@web.de</div>
				<div class="td w-25">0631/31090045</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Fachschaft</div>
				<div class="td w-25">fsbio@rhrk.uni-kl.de</div>
				<div class="td w-25">2403</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Simon</div>
				<div class="td w-25">s_birnbach09@cs.uni-kl.de</div>
				<div class="td w-25">0176/70441991</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Martin</div>
				<div class="td w-25">m_birtel@informatik.uni-kl.de</div>
				<div class="td w-25">0631-6263773</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Sebastian</div>
				<div class="td w-25">s_blank@informatik.uni-kl.de</div>
				<div class="td w-25">0631/3579708</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Janina</div>
				<div class="td w-25">j_bormann09@cs.uni-kl.de</div>
				<div class="td w-25">eh nicht</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jan</div>
				<div class="td w-25">bormann.jan@googlemail.com</div>
				<div class="td w-25">0631-3117639 bzw 0631-205-2633</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jens </div>
				<div class="td w-25">j_brandt@informatik.uni-kl.de</div>
				<div class="td w-25">6278894</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Thomas</div>
				<div class="td w-25">tmb@informatik.uni-kl.de</div>
				<div class="td w-25">0631 20575-400 bzw. 3456</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Phoebe</div>
				<div class="td w-25"></div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Phoebe</div>
				<div class="td w-25">p_buckhe@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Alexander</div>
				<div class="td w-25">a_buhl12@cs.uni-kl.de</div>
				<div class="td w-25">015784541840</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Bernd</div>
				<div class="td w-25">bunke@informatik.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Fachschaft</div>
				<div class="td w-25">fschemie@chemie.uni-kl.de</div>
				<div class="td w-25">2563</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Sandor</div>
				<div class="td w-25">s_dalecke11@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Daniel</div>
				<div class="td w-25">d_danger09@cs.uni-kl.de</div>
				<div class="td w-25">016093288035</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Thomas</div>
				<div class="td w-25">t_daun@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Markus</div>
				<div class="td w-25">vertixico@gmail.com</div>
				<div class="td w-25">01752181043</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Andreas</div>
				<div class="td w-25">andreas.dengel@dfki.de</div>
				<div class="td w-25">0631 20575-100 </div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Stefan</div>
				<div class="td w-25">dessloch@informatik.uni-kl.de</div>
				<div class="td w-25">3275</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Sarah</div>
				<div class="td w-25">s_dossinge10@cs.uni-kl.de</div>
				<div class="td w-25">015116768884</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Klaus</div>
				<div class="td w-25">klaus.draeger@gmail.com</div>
				<div class="td w-25">0681-9704886</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Achim</div>
				<div class="td w-25">ebert@informatik.uni-kl.de</div>
				<div class="td w-25">3502</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Laura</div>
				<div class="td w-25">l_eckardt09@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Fachschaft</div>
				<div class="td w-25">fachschaft@eit.uni-kl.de</div>
				<div class="td w-25">2620</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Barbara</div>
				<div class="td w-25">erlewein@informatik.uni-kl.de</div>
				<div class="td w-25">2626</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Paul</div>
				<div class="td w-25">francis@mpi-sws.org</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Dominik</div>
				<div class="td w-25">erd.ferkel@ddfy.de </div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Stephan</div>
				<div class="td w-25">stephan@fudeus.net</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Markus</div>
				<div class="td w-25">m_foegen11@cs.uni-kl.de</div>
				<div class="td w-25">017695848631</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Christoph</div>
				<div class="td w-25"></div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Reinhard</div>
				<div class="td w-25">gotzhein@informatik.uni-kl.de</div>
				<div class="td w-25">3426</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">RHRK</div>
				<div class="td w-25">philipp@uni-kl.de</div>
				<div class="td w-25">4515 </div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Tobias</div>
				<div class="td w-25">ich@tobias-groll.de</div>
				<div class="td w-25">0631 6264950</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Lars</div>
				<div class="td w-25"></div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Katharina</div>
				<div class="td w-25">gwinner@rhrk.uni-kl.de</div>
				<div class="td w-25">0631-36139569</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Susanne</div>
				<div class="td w-25">s_goebel@cs.uni-kl.de</div>
				<div class="td w-25">0631-4122340</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Marc </div>
				<div class="td w-25">m_goetti@informatik.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Hans</div>
				<div class="td w-25">hagen@informatik.uni-kl.de</div>
				<div class="td w-25">4071, 3482</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Kerstin</div>
				<div class="td w-25">k_lenz@gmx.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Patrick</div>
				<div class="td w-25">p_hansert11@cs.uni-kl.de</div>
				<div class="td w-25">01578-7575636</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Reiner</div>
				<div class="td w-25">hartenst@rhrk.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Nicolas</div>
				<div class="td w-25">n_harttig10@cs.uni-kl.de</div>
				<div class="td w-25">017657516265</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Marc</div>
				<div class="td w-25">m_hauer10@cs.uni-kl.de</div>
				<div class="td w-25">FN: 0631 41268127   Mobil: 0176 48352176</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Michael</div>
				<div class="td w-25">m_heck@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jörn</div>
				<div class="td w-25">j_hees@cs.uni-kl.de</div>
				<div class="td w-25">0631/3116015</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Christoph</div>
				<div class="td w-25">chris-as4v@n42.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Stefan</div>
				<div class="td w-25">heinrich@informatik.uni-kl.de</div>
				<div class="td w-25">2992</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jean-Marc</div>
				<div class="td w-25">j_hengen@informatik.uni-kl.de</div>
				<div class="td w-25">0631-6278287</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Sebastian</div>
				<div class="td w-25">s_hennings09@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Sebastian</div>
				<div class="td w-25">s_hennings09@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Manuel</div>
				<div class="td w-25">m_hoffmann09@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Michael</div>
				<div class="td w-25">m_hohenste10@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jan</div>
				<div class="td w-25">j_holub11@cs.uni-kl.de</div>
				<div class="td w-25">016098429248</div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jan</div>
				<div class="td w-25">j_holub11@cs.uni-kl.de</div>
				<div class="td w-25">016098429248</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">SCI</div>
				<div class="td w-25">sci@informatik.uni-kl.de</div>
				<div class="td w-25">2655</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Marvin</div>
				<div class="td w-25">m_huber10@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Mathias</div>
				<div class="td w-25">m_hummel@informatik.uni-kl.de</div>
				<div class="td w-25">Uni: 2808</div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Theo</div>
				<div class="td w-25">haerder@informatik.uni-kl.de</div>
				<div class="td w-25">4030</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Reiner</div>
				<div class="td w-25">reiner@zottelwesen.de</div>
				<div class="td w-25">0631/4128448</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Lars</div>
				<div class="td w-25">l_huette@informatik.uni-kl.de</div>
				<div class="td w-25"> 0631-6248619</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Fachschaft</div>
				<div class="td w-25">info@fachschaft.informatik.uni-kl.de</div>
				<div class="td w-25">2553</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Florian</div>
				<div class="td w-25">floh@regenduft.de</div>
				<div class="td w-25">06507 922 121</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Andreas</div>
				<div class="td w-25">a_kiefer@cs.uni-kl.de</div>
				<div class="td w-25">0631-6258587</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Malte</div>
				<div class="td w-25">m_kiesel@informatik.uni-kl.de</div>
				<div class="td w-25">25164</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Reinhard</div>
				<div class="td w-25"></div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Kevin</div>
				<div class="td w-25">k_kirsch14@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Kalle</div>
				<div class="td w-25">k_kleinl@informatik.uni-kl.de</div>
				<div class="td w-25">3115335</div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Johannes</div>
				<div class="td w-25">j_koelsch09@cs.uni-kl.de</div>
				<div class="td w-25">015771541602</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jonathan</div>
				<div class="td w-25">j_kolberg11@informatik.uni-kl.de</div>
				<div class="td w-25">017669698669</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Roman</div>
				<div class="td w-25">r_kowalew09@cs.uni-kl.de</div>
				<div class="td w-25">0163 6342777</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Tobias</div>
				<div class="td w-25">t_krafft11@cs.uni-kl.de</div>
				<div class="td w-25">017670527001</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Christoph</div>
				<div class="td w-25">krautkr@rhrk.uni-kl.de</div>
				<div class="td w-25">0631-6252550</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Heidi</div>
				<div class="td w-25"></div>
				<div class="td w-25">4368</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Christian</div>
				<div class="td w-25">c_krips@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Sören</div>
				<div class="td w-25">s_kwasigro12@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jana</div>
				<div class="td w-25">j_lampe09@cs.uni-kl.de</div>
				<div class="td w-25">0160-95187773</div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Jana </div>
				<div class="td w-25">j_lampe09@cs.uni-kl.de</div>
				<div class="td w-25">-</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Adrian</div>
				<div class="td w-25">a_leva10@cs.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Annika</div>
				<div class="td w-25">a_lever@informatik.uni-kl.de</div>
				<div class="td w-25">0631/ 27 4 29</div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Bernd</div>
				<div class="td w-25">b_lietzo@informatik.uni-kl.de</div>
				<div class="td w-25"></div>
				<div class="td w-25" style="display: none"></div>
			</a>
			<a class="tr" href="#">
				<div class="td w-25">Peter</div>
				<div class="td w-25">liggesmeyer@informatik.uni-kl.de</div>
				<div class="td w-25">3328</div>
				<div class="td w-25" style="display: none">Student</div>
			</a>
		</div>
	</div>


{% endblock content %}