{% extends "base.html" %}

{% block extra_style %}
{% endblock extra_style %}

{% block extra_js %}
{% endblock extra_js %}

{% block body %}
	<div id="minute-view">
		<h1>Protokoll vom DD.MM.YYYY</h1>

		<div class="top">
			<h2>ToDo</h2>
			<div class="content">
				<ol>
					<li>select2 nach unten richtig gestyled, nach oben aufklappen ist borken</li>
					<li>Redactor i18n</li>
					<li>checkboxen, yes-no radios in schicke slider/toggle-switches umwandeln</li>
				</ol>
			</div>
		</div>

		{% include 'protokoll_view/meta.html' %}
		{% include 'protokoll_view/toplist.html' %}

		{% for id in range(4) %}
			{% include 'protokoll_view/topic.html' %}
		{% endfor %}

		{% include 'protokoll_view/modal_topdel.html' %}
		{% include 'protokoll_view/modal_requestdel.html' %}
	</div>
{% endblock body %}