{% extends 'base.html' %}

{% block content %}
	<h1>Rechnung vom DD.MM.YYYY</h1>

	<div class="one buttons">
		<a href="/">Als bezahlt markieren</a>
	</div>

	<div class="list-table">
		<div class="thead">
			<div class="tr">
				<div class="th w-25 left">Produkt</div>
				<div class="th w-20 center">Datum</div>
				<div class="th w-20 center">Anzahl</div>
				<div class="th w-20 center">Stückpreis</div>
				<div class="th w-15 right">Summe</div>
			</div>
		</div>
		<div class="tbody">
			<a href="/" class="tr">
				<div class="td w-25 left">Club Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">2786€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>
			<a href="/" class="tr">
				<div class="td w-25 left">Mate</div>
				<div class="td w-20 center">dd.mm.yy</div>
				<div class="td w-20 center">1</div>
				<div class="td w-20 center">1€</div>
				<div class="td w-15 right">897€</div>
			</a>

			<div class="footer tr">
				<div class="td w-25 left"></div>
				<div class="td w-20 center"></div>
				<div class="td w-20 center"></div>
				<div class="td w-20 center">
					<span class="label payed" title="Von dir als bezahlt markiert - muss noch vom Getränkereferent bestätigt werden.">bezahlt</span>
				</div>
				<div class="td w-15 right">6754€</div>
			</div>
		</div>
	</div>
{% endblock content %}