/**************************************************************************************/
/************************************ ADDRESS BOOK ************************************/
/**************************************************************************************/

$address-book-bg: $table-bgcolor !default;
$address-book-tbody-bg-hover: $yellow !default;
$address-book-tbody-font-size: $norm*0.9;
$address-detail-qrcode-size: 100px !default;
$address-detail-qrcode-size-active: 300px !default;

#address-filter {
	@include shout;
	.columns.selectize.field { margin: 0; }
	@include selectize-color-sheme();
}

#address-book {
	@include table($address-book-bg, $address-book-tbody-bg-hover,
		$body-font-color, $address-book-tbody-font-size);

	.tag-field { display: none; }
	.td.email, .td.phone, .th.email, .th.phone {
		// TODO: use @include hidden/visible
		display: none;
		@include respond(desktop) { display: table-cell; }
	}
}

#address-detail {
	@include last-man-standing("margin");
	background: $address-book-bg;
	padding: $med;

	.row {
		@include vertical-padding($norm);

		.columns.key {
			padding-right: $med;
			@include respond(desktop) { text-align: right; }
		}
		.columns.value { font-weight: $font-weight-semibold; }
		#qr-code-wrapper {
			cursor: pointer;
			max-width: $address-detail-qrcode-size;
			&.active { max-width: $address-detail-qrcode-size-active; }
			&:hover { font-weight: $font-weight-bold; }
			.figure { width: 100%; }
			.caption {
				margin-top: -8px; // TODO: Why this hackin?
				@include font-size($small);
				@extend .text-center;
				font-weight: inherit;
			}
		}
	}
}

#address-form {
	background: $address-book-bg;
	padding: $med;
	@include last-man-standing("margin");
	label.inline { @extend .padding-right; }

	.field {
		@include row();
		@include horizontal-padding(0); // TODO: global forms style??
		@include vertical-padding($xsmall); // TODO: global forms style
		label {
			@include column(2);
			@extend .inline;
			@include line-and-height(height-calc($norm));
		}
		input, textarea {
			@include column(10);
			@extend .input;
		}
		input { @extend .text; }
		textarea { @extend .textarea; }
	}

	#save {
		@include column(4);
		@include push(8);
		@extend .medium, .btn;
		font-weight: $font-weight-regular;
		margin-top: $small;
		background: $turquoise;
		@include color-of($turquoise);
		&:hover { background: dark-of($turquoise); }
	}
}