<div class="minute-meta with-utils">
	<h2>Meta</h2>
	<div class="entry">
		<div class="name">Protokollant</div>
		<div class="value">Deine Mutter</div>
	</div>
	<div class="entry">
		<div class="name">Sitzungsleitung</div>
		<div class="value">Dein Vater</div>
	</div>
	<div class="entry">
		<div class="name">Veröffentlichung</div>
		<div class="value">12.21.3131</div>
	</div>
	<div class="entry">
		<div class="name">Genehmigt</div>
		<div class="value"><span class="label no">Nein</span></div>
	</div>
	<div class="entry">
		<div class="name">Beschlussfähig</div>
		<div class="value"><span class="label yes">Ja - XX von YY</span></div>
	</div>
	<div class="entry">
		<div class="name">Anwesende</div>
		<div class="value">Deine Mutter, Dein Vater, Deine Oma, Dein Opa, Deine Mutter, Dein Vater, Deine Oma, Dein Opa, Deine Mutter, Dein Vater, Deine Oma, Dein Opa</div>
	</div>
	<div class="entry">
		<div class="name">Gäste</div>
		<div class="value">Gar Niemand, Wirklich Keiner, Echt Jetzt</div>
	</div>
</div>
<div class="utils">
	<a href="/">Bearbeiten</a>
</div>