<!-- this is a default gumby modal template -> maybe you want some abstraction -->
<div class="modal" id="topdel">
	<div class="content">
		<a class="close switch" gumby-trigger="|#topdel"><i class="icon-cancel" /></i></a>
		<div class="row">
			<div class="ten columns centered text-center">
				<h2>Sicher?</h2>
				<p>
					Möchtest du diesen TOP wirklich unwiederruflich löschen?
				</p>
				<a href="#" class="button switch" gumby-trigger="|#topdel">Löschen</a>
			</div>
		</div>
	</div>
</div>

<!-- this is a default gumby modal template -> maybe you want some abstraction -->
<div class="modal" id="requestdel">
	<div class="content">
		<a class="close switch" gumby-trigger="|#requestdel"><i class="icon-cancel" /></i></a>
		<div class="row">
			<div class="ten columns centered text-center">
				<h2>Sicher?</h2>
				<p>
					Möchtest du diesen Antrag wirklich unwiederruflich löschen?
				</p>
				<a href="#" class="button switch" gumby-trigger="|#requestdel">Löschen</a>
			</div>
		</div>
	</div>
</div>

<!-- this is a default gumby modal template -> maybe you want some abstraction -->
<div class="modal" id="draftcon">
	<div class="content">
		<a class="close switch" gumby-trigger="|#draftcon"><i class="icon-cancel" /></i></a>
		<div class="row">
			<div class="ten columns centered text-center">
				<h2>Sicher</h2>
				<p>
					Möchtest du den aktuellen Stand des Protokolls wirklich als Entwurf versenden?
				</p>
				<a href="#" class="button switch" gumby-trigger="|#draftcon">Entwurf versenden</a>
			</div>
		</div>
	</div>
</div>

<!-- this is a default gumby modal template -> maybe you want some abstraction -->
<div class="modal" id="publishcon">
	<div class="content">
		<a class="close switch" gumby-trigger="|#publishcon"><i class="icon-cancel" /></i></a>
		<div class="row">
			<div class="ten columns centered text-center">
				<h2>Sicher</h2>
				<p>
					Möchtest du dieses Protokoll wirklich veröffentlichen?
				</p>
				<a href="#" class="button switch" gumby-trigger="|#publishcon">Veröffentlichen</a>
			</div>
		</div>
	</div>
</div>