@mixin dropdown($size, $bg-color: $grey, $hover-color: dark-of($grey), $border-color: $border-color, $offset: -1px, $orientation: "right") {
	/* $size: size of the button/trigger this dropdown is attached to
	 * $bg-color: background color of dropdown and entries
	 * $hover-color: background color of hovered entries
	 * $border-color: color of dropdown border, seperator and indicator arrow
	 * $offset: amount by which the dropdown is moved into its orientation
	 * $orientation: alignment of the dropdown to its button/trigger -> "left" or "right"
	 */
	position: relative;

	& > .dropdown {
		position: absolute;
		#{$orientation}: $offset;
		width: auto;
		z-index: 77777;
		display: none;
		border: none;
		padding-top: 11px;

		&:before {
			/* add an arrow to the drop down menu */
			content: "";
			display: block;
			position: absolute;
			top: 2px;
			right: $size/2 - 10px;
			width: 0;
			border-width: 0 10px 10px;
			border-style: solid;
			border-color: $border-color transparent;
		}
		& > hr {
			padding: 0;
			margin: 0;
			height: 1px;
			border-bottom: none;
		}
		& > a {
			display: block;
			width: 100%;
			border: none;
			white-space: nowrap;
			font-size: $norm;
			font-weight: $font-weight-regular;
			@include line-and-height(height-calc($norm));
			background-color: $bg-color;
			&:hover { background-color: $hover-color; }

			margin: 0;
			padding: 0 $norm;
			text-align: left;

			border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
			&:first-child { border-top: 1px solid $border-color; }
			&:last-child { border-bottom: 1px solid $border-color; }
		}
	}
	&:hover > .dropdown {
		display: block;
	}
}