
// override some of gumbys defaults
.field {
	@include border-radius(0);
	.input,
	input,
	&.prepend .input,
	&.append .input,
	&.prepend.append input,
	&.prepend.append input:first-child,
	&.prepend.append input:last-child,
	&.prepend *:first-child,
	&.append *:last-child {
		@include border-radius(0);
	}

	textarea, .textarea {
		@include transition-property(height);
  		@include transition-duration(1s);
		height: height-calc($norm)*1 !important;
		&:focus { height: height-calc($norm)*4 !important; }
	}

	input, .input, textarea, .textarea {
		&:focus { border: 1px solid $turquoise; }
		&.no-focus:focus { border: none; }
		&.no-border, &.no-border:focus { border: none; }
	}

	// TODO: @include formfield; here?
}


@mixin slider-checkbox($color-yes: $black, $bg-yes: $green,
					   $color-no: $black, $bg-no: $red) {
	label {
		@inlcude line-and-height(height-calc($norm));
		@include row("nested");
		position: relative;
		width: 100%;
		margin-left: 0;
		border: 1px solid $border-color;

		input { display: none; }
		div {
			height: 100%;
			width: 50%;
			float: left;
			// margin: 0;
			position: relative;
			z-index: 2;
			text-align: center;
			// height: 100%;
			// background: none;
			// @include border-radius(0);
			// border: none;
		}
		a {
			position: absolute;
			top: -1px;
			left: -1px;
			width: 50%;
			height: height-calc($norm);
			display: block;
			z-index: 1;
			color: $color-no;
			background-color: $bg-no;
			@include border-radius(0);
			@include transition(all 0.3s ease-out);
		}
		input:checked ~ a {
			left: 50%;
			margin-left: 1px;
			color: $color-yes;
			background-color: $bg-yes;
			@include transition(all 0.3s ease-out);
		}
	}
}

@mixin formfield() {
	@include row("nested");
	input, textarea { @extend .input; }
	textarea { @extend .textarea; }
	label {
		@include column(3);
		@include line-and-height(height-calc($norm));
	}
	input, textarea, .nested {
		@include column(9);
	}
	.nested.slider {
		@include slider-checkbox;
	}
}