@mixin last-man-standing($type: "padding") {
	#{$type}-bottom: $gutter;
}


@mixin vertical-padding($value) {
	padding-top: $value;
	padding-bottom: $value;
}
@mixin horizontal-padding($value) {
	padding-left: $value;
	padding-right: $value;
}

@mixin vertical-margin($value) {
	margin-top: $value;
	margin-bottom: $value;
}
@mixin horizontal-margin($value) {
	margin-left: $value;
	margin-right: $value;
}

.padding-top { padding-top: $small; }
.padding-bottom { padding-bottom: $small; }
.padding-left { padding-left: $small; }
.padding-right { padding-right: $small; }
.padding-vertical { @extend .padding-top, .padding-bottom; }
.padding-horizontal { @extend .padding-left, .padding-right; }
.padding { @extend .padding-horizontal, .padding-vertical; }

@mixin shout() {
	@extend .padding;
	margin-bottom: .5em;
	background: $white;
}

.shout { @include shout; }