
#minutes-list {
	@include last-man-standing;
	// compare to minutes.top
	@include row("nested");
	background: $white;
	margin-top: $gutter-in-px;
	@include vertical-padding($gutter-in-px);
	@include horizontal-padding($gutter-in-px);
	
	// same as in address-book -> set as defaults
	.list-table {
		@include narrow-table($white, $yellow, $body-font-color, $norm*0.9);
		margin-bottom: 0;

		th.bool { width: 15%; }
		th.date { width: 15%; }
		// th.name { width: 25%; }

		th, td {
			&.removable { @include hidden(all-phones); }
			&.xremovable {
				@include respond("max-width: 575px") {
					display: none;
				}
			}
		}
	}
}