
#minute-request {
	@include row;

	form {
		@include row;
		background: $white;
		padding: $gutter-in-px;

		.field {
			@include formfield;
			&.triple input { @include column(3); }
			.switch-light {
				margin-left: 0;
				width: 100%;
			}
		}
		.button { @include button($turquoise); }

		.dosh {
			// TODO: is the display of "Cent" too much of a Hack?
			position: absolute;
			input { width: 100%; margin-left: 0; padding-right: 50px; }
			&:after {
				content: "Cent";
				position: absolute;
				right: 10px;
				@include line-and-height(height-calc($norm));
				color: $border-color;
			}
		}
	}

	&.edit .new { display: none; }
	&.new .edit { display: none; }
}