#minute-view {
	$util-bg: light-of($grey);
	$util-border-color: shade($grey, 5%);
	$util-font-size: ($small + $norm + $norm)/3;
	// $lighter-border-color: shade($grey, 5%);
	@include last-man-standing;
	@include row;

	@mixin util-link {
		color: $black;
		background: inherit;
		font-size: $util-font-size;
		height: height-calc($util-font-size);
		line-height: height-calc($util-font-size);
		border: none;
		padding: 0 8px;
		margin-left: 5px;

		&:hover {
			background: $turquoise;
			color: $black;
		}
	}

	@mixin request-styles {
		.from {
			font-style: italic;
		}
		.title, .howmuchisthefish {
			font-weight: $font-weight-semibold;
		}
		.description {
			text-align: justify;
			@include vertical-margin($gutter-in-px/4);
			@include hyphenation;
		}
		.label {
			@include border-radius(0);
			.accpeted { @extend .success; }
			.denied { @extend .danger; }
		}
		.edit {
			float: right;
			margin-left: 5px;
			font-size: $util-font-size;
			color: $turquoise;
			&:hover { text-decoration: underline; }
		}
	}

	@mixin content-styles {
		// TODO: content styles
		:last-child { margin-bottom: 0; }
		ol, ul { list-style-position: inside; }
	}

	.top {
		@include row("nested");
		background: $white;
		margin-top: $gutter-in-px;
		&:first-of-type { margin-top: 0; }

		h2, .content, .util, .request {
			@include horizontal-padding($gutter-in-px);
		}
		.content {
			padding-top: $gutter-in-px/4;
			margin-bottom: $gutter-in-px*3/4;
			text-align: justify;
			@include hyphenation;
			@include content-styles;
		}
		&#meta .conten {
			.label {
				@include border-radius(0);
				.yes { @extend .success; }
				.no { @extend .danger; }
			}
			.entry {
				@include row("nested");
				line-height: height-calc($norm);
				.name { @include column(4); }
				.value { @include column(8); }
			}
		}
		&#toplist .content ol {
			margin-left: 0;
		}
		.util {
			background: $util-bg;
			border-top: 1px solid $util-border-color;
			text-align: right;
			a { @include util-link; }
		}
		.request {
			border: 1px solid $util-border-color;
			margin: $gutter-in-px;
			@include vertical-padding($gutter-in-px/2);
			@include request-styles;
		}
	}

	&.no-utils { .util, .edit { display: none; }}

	.modal {
		.content { min-height: 150px; }
		.button { @include button($turquoise); margin-top: $gutter-in-px; }
		.close {
			color: $turquoise;
			i { @include horizontal-margin(3px); }
		}
		.close:hover {
			color: $white;
			background: $turquoise;
			@include border-radius(100px);
		}
		h2 { padding-bottom: $gutter-in-px; }
	}
}