{% extends "base.html" %}

{% block extra_style %}
<link rel="stylesheet" href="/static/bower_components/selectize/dist/css/selectize.css">
{% endblock extra_style %}

{% block extra_js %}
<script src="/static/js/redactor.min.js"></script>
<script src="/static/bower_components/Sortable/Sortable.min.js"></script>
<!-- <script src="/static/bower_components/selectize/dist/js/standalone/selectize.js"></script> -->
<script src="/static/bower_components/select2/select2.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.redactor').redactor({
			/* URL+Enter => Link */
			lang: 'de',
			autoresize: false,
			minHeight: 400,
			buttons: ['bold', 'italic', 'underline', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent'/*, '|', 'insertlink'*/],
			buttonsCustom: {
				insertlink:
				{
					title: RLANG.link_insert,
					func: 'showLink'
				}
			},
		});

		$("select.select2").select2();
		$("#guests").select2({
			tags:[],
			formatNoMatches: function(term) { return "Namen eingeben und Enter drücken"; }
		});
		// multiple select2: focus lost => check if input has focus, if so restore focus (seems to be borken)

		new Sortable($("#reorderbuffer")[0]);
	});
</script>
{% endblock extra_js %}

{% block body %}
	<div id="minute-edit" class="row">
		<h1>Protokoll bearbeiten</h1>

		<form>
			<h3>Meta</h3>
			<div class="field">
				<label for="date">Sitzungsdatum</label>
				<input id="date" type="date" />
			</div>
			<div class="field">
				<label for="writer">Protokollant</label>
				<div class="nested">
					<select class="select2" id="writer" data-placeholder="">
						<option></option>
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				</div>
			</div>
			<div class="field">
				<label for="leader">Sitzungsleitung</label>
				<div class="nested">
					<select class="select2" id="leader" data-placeholder="">
						<option></option>
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				</div>
			</div>
			<div class="field">
				<label for="cando">Beschlussfähig</label>
				<input id="cando" type="text" />
			</div>
			<div class="field">
				<label for="fsr">Anwesenheit</label>
				<div class="nested">
					<select class="select2" id="fsr" multiple>
						<option value="Wassily">Wassily Kandinsky</option>
						<option value="Wilhelm">Wilhelm Wagenfeld</option>
						<option value="T">T. Lux Feininger</option>
						<option value="Marcel">Marcel Breuer</option>
						<option value="Walter">Walter Gropius</option>
						<option value="Paul">Paul Klee</option>
						<option value="Mies">Mies van der Rohe</option>
					</select>
				</div>
			</div>
			<div class="field">
				<label for="guests">Gäste</label>
				<div class="nested">
					<input id="guests" class="select2" type="text" />
				</div>
			</div>


			<h3>TOPs</h3>
			<div id="top-widget">
					<div class="field"><input type="text" placeholder="Test"></div>
					<div class="button" href="#">
						<i class="icon-tools"></i>
						<div class="dropdown">
							<a href="#">TOP 1: Mitteilungen</a>
							<a href="#">TOP 2: Bericht</a>
							<a href="#">TOP 3: Finanzordnung</a>
							<a href="#">TOP 4: Anträge</a>
							<a href="#">TOP 5: Verschiedenes</a>
							<a href="#">TOP 6: break even point</a>
							<a href="#">TOP 7: VLU</a>
							<a href="#">TOP 8: Weihnachtsfeier</a>
							<a href="#">TOP 9: Sommerfest</a>
							<hr>
							<a href="#" class="switch" gumby-trigger="#reordermodal">TOPs umsortieren</a>
							<a href="#" class="switch" gumby-trigger="#topmodal">Neuen TOP anlegen</a>
							<a href="#" class="switch" gumby-trigger="#requestmodal">Neuen Antrag anlegen</a>
						</div>
					</div>
			</div>
			<textarea id="top1" class="redactor" name="content"></textarea>
			<div class="request-list">
				<div class="request">
					<span class="title">Antrag 1</span>
					<span class="from">(von Repastiorique Transgertus)</span>:
					<span class="howmuchisthefish">&nbsp;&nbsp;77€</span>
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<span class="success label">Angenommen - 11/2/2</span>
					<a class="edit" href="#">Bearbeiten</a>
				</div>
				<div class="request">
					<span class="title">Antrag 2</span>
					<span class="from">(von Repastiorique Transgertus)</span>:
					<span class="howmuchisthefish">&nbsp;&nbsp;76.78€</span>
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariaturZ.
					</div>
					<span class="danger label">Abgelehnt - 0/77/0</span>
					<a class="edit" href="#">Bearbeiten</a>
				</div>
			</div>
			<a id="save" href="#">Änderungen speichern</a>
		</form>


		<div class="modal" id="topmodal">
			<div class="content">
				<a class="close switch" gumby-trigger="|#topmodal">
					<i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<h2>TOP hinzufügen</h2>

					<div class="field">
						<label for="linkurl">Name</label>
						<input id="linkurl" type="text">
					</div>
					<a class="button" href="#">Hinzufügen</a>
				</div>
			</div>
		</div>

		<div class="modal activate" id="requestmodal">
			<div class="content">
				<a class="close switch" gumby-trigger="|#requestmodal">
					<i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<h2>Antrag erstellen/bearbeiten</h2>

					<div class="field">
						<label for="fortop">Hinzufügen zu</label>
						<input id="fortop" type="text">
					</div>
					<div class="field">
						<label for="requester">Antragsteller</label>
						<input id="requester" type="text">
					</div>
					<div class="field">
						<label for="requestdescription">Beschreibung</label>
						<textarea id="requestdescription"></textarea>
					</div>
					<div class="field">
						<label for="moneyz">Betrag</label>
						<input id="moneyz" type="text">
					</div>
					<div class="field" id="vote">
						<label for="">Abstimmung</label>
						<input type="number" placeholder="dafür">
						<input type="number" placeholder="dagegen">
						<input type="number" placeholder="enthalten">
					</div>
					<a class="button" href="#">Übernehmen</a>
				</div>
			</div>
		</div>

		<div class="modal" id="reordermodal">
			<div class="content">
				<a class="close switch" gumby-trigger="|#reordermodal">
					<i class="icon-cancel" /></i>
				</a>
				<div class="row">
					<h2>TOPs umsortieren</h2>

					<div class="row">
						<div id="reorderhead" class="three columns">
							<div>TOP 1</div>
							<div>TOP 2</div>
							<div>TOP 3</div>
							<div>TOP 4</div>
							<div>TOP 5</div>
							<div>TOP 6</div>
						</div>
						<div id="reorderbuffer" class="nine columns">
							<div>Mitteilungen</div>
							<div>Berichte</div>
							<div>Semester Opening</div>
							<div>Anträge</div>
							<div>Neues StuPa</div>
							<div>Verschiedenes</div>
						</div>
					</div>
					<a class="button" href="#">Übernehmen</a>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}