{% extends "base.html" %}

{% block extra_style %}{% endblock extra_style %}

{% block extra_js %}
<script src="/static/js/redactor.min.js"></script>
<script src="/static/bower_components/Sortable/Sortable.min.js"></script>
<script src="/static/bower_components/select2/select2.js"></script>



<script type="text/javascript">
	$(document).ready(function(){
		// $('.redactor').redactor({
		// 	/* URL+Enter => Link */
		// 	lang: 'de',
		// 	autoresize: false,
		// 	minHeight: 400,
		// 	buttons: ['bold', 'italic', 'underline', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent'/*, '|', 'insertlink'*/],
		// 	buttonsCustom: {
		// 		insertlink:
		// 		{
		// 			title: RLANG.link_insert,
		// 			func: 'showLink'
		// 		}
		// 	},
		// });

		// initializing meta edit form
		$("select.select2").select2();
		$("#guests").select2({
			tags:[],
			formatNoMatches: function(term) {
				return "Namen eingeben und Enter drücken";
			}
		});
		// multiple select2: focus lost => check if input has focus, if so restore focus (seems to be borken)

		// new Sortable($("#minute-view.with-utils #to-list")[0]); // only if in change mode
	});

	function addTOP() {
		// TODO: add top to #to-list and add a .top+.util with editor for it
		$("#to-list").append(
			'<li><a href="#">Neuer TOP (TODO: editor hinzufügen)</a>'
		);
	}
</script>
{% endblock extra_js %}

{% block body %}
	<div id="minute-view" class="row with-utils">
		<h1>Protokoll vom {{ prot.1 }}</h1>

		<div class="shout">
			<a class="button" href="/prot/change/">Protokoll bearbeiten</a>
		</div>

		<div class="shout">
			TODO:
			* Löschen button mit Modal versehen
			* Bearbeiten button mit Funktionalität versehen
			* TOP Umsortieren schön lösen
			* TOP hinzufügen funktionalität
			* Antrag hinzufügen Modal
			* Antrag bearbeiten Modal
			* Antrag löschen Modal
			* AJAX stuff/updates?
		</div>


		{% include 'protokoll_view_meta.html' %}
		{% include 'protokoll_view_to.html' %}


		{% for x in range(5) %}
			<div id="top{{x}}" class="top row">
				<!-- TOP TITLE -->
				<h2>
					<a class="hideclose toggle" gumby-trigger="#top{{x}}" href="#">
						<i class="icon-right-dir"></i>
						<i class="icon-down-dir"></i>
					</a>
					<span class="removable">TOP{{x}}: </span>...
				</h2>
				<!-- END TOP TITLE -->

				<!-- TOP CONTENT -->
				<div class="inner">{{ lipsum(3) }}</div>

				<!-- TOP REQUESTS -->
				{% if x == 3 %}
				<div class="request-list">
					<div class="request">
						<span class="title">Antrag 1</span>
						<span class="from">(von Repastiorique Transgertus)</span>:
						<span class="howmuchisthefish">&nbsp;&nbsp;77€</span>
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
						<span class="success label">Angenommen - 11/2/2</span>
						<a class="edit" href="#">Bearbeiten</a>
						<a class="edit" href="#">Löschen</a>
					</div>
					<div class="request">
						<span class="title">Antrag 2</span>
						<span class="from">(von Repastiorique Transgertus)</span>:
						<span class="howmuchisthefish">&nbsp;&nbsp;76.78€</span>
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariaturZ.
						</div>
						<span class="danger label">Abgelehnt - 0/77/0</span>
						<a class="edit" href="#">Bearbeiten</a>
						<a class="edit" href="#">Löschen</a>
					</div>
				</div>
				{% endif %}
				<!-- END TOP REQUESTS -->
			</div>
			<div class="util row">
				<a href="#">Löschen</a>
				<a href="#">Antrag hinzufügen</a>
				<a href="#">Bearbeiten</a>
			</div>
		{% endfor %}
	</div>
{% endblock body %}