<div id="meta" class="row">
	<h2>Meta</h2>
	<div class="value-view">
		<!-- BEGIN META PRETTY DISPLAY -->
		<div class="field">
			<div class="head">Protokollant</div>
			<div class="tail">{{ prot.2 }}</div>
		</div>
		<div class="field">
			<div class="head">Sitzungsleitung</div>
			<div class="tail">{{ prot.3 }}</div>
		</div>
		<div class="field">
			<div class="head">Veröffentlichung</div>
			<div class="tail">{{ prot.4 }}</div>
		</div>
		<div class="field">
			<div class="head">Beschlussfähig</div>
			<div class="tail">
				{% if prot.5 %}
					<span class="quorum label">Ja - X von YY</span>
				{% else %}
					<span class="no quorum label">Nein - X von YY</span>
				{% endif %}
			</div>
		</div>
		<div class="field">
			<div class="head">Anwesende</div>
			<div class="tail">{{ fsr|join(', ') }}</div>
		</div>
		<div class="field">
			<div class="head">Gäste</div>
			<div class="tail">{{ guest|join(', ') }}</div>
		</div>
		<!-- END BEGIN META PRETTY DISPLAY -->
	</div>
	<div class="value-edit">
		<!-- BEGIN META EDIT FORM -->
		<div class="field">
			<label for="date">Sitzungsdatum</label>
			<input id="date" type="date" />
		</div>
		<div class="field">
			<label for="writer">Protokollant</label>
			<div class="nested">
				<select class="select2" id="writer" data-placeholder="">
					<option></option>
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</select>
			</div>
		</div>
		<div class="field">
			<label for="leader">Sitzungsleitung</label>
			<div class="nested">
				<select class="select2" id="leader" data-placeholder="">
					<option></option>
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</select>
			</div>
		</div>
		<div class="field">
			<label for="cando">Beschlussfähig</label>
			<input id="cando" type="text" />
		</div>
		<div class="field">
			<label for="fsr">Anwesenheit</label>
			<div class="nested">
				<select class="select2" id="fsr" multiple>
					<option value="Wassily">Wassily Kandinsky</option>
					<option value="Wilhelm">Wilhelm Wagenfeld</option>
					<option value="T">T. Lux Feininger</option>
					<option value="Marcel">Marcel Breuer</option>
					<option value="Walter">Walter Gropius</option>
					<option value="Paul">Paul Klee</option>
					<option value="Mies">Mies van der Rohe</option>
				</select>
			</div>
		</div>
		<div class="field">
			<label for="guests">Gäste</label>
			<div class="nested">
				<input id="guests" class="select2" type="text" />
			</div>
		</div>
	</div>
	<!-- END BEGIN META EDIT FORM -->
</div>
<div class="util row">
	<a id="meta-edit-btn" href="#" class="toggle" gumby-trigger="#meta,#meta-edit-btn" gumby-classname="editing">
		<span>Bearbeiten</span>
		<span class="active">Übernehmen</span>
	</a>
</div>