{% extends "base.html" %}

{% block extra_style %}
	<link rel="stylesheet" href="/static/css/cusel.css">
	<link rel="stylesheet" href="/static/bower_components/selectize/dist/css/selectize.css">
{% endblock extra_style %}

{% block extra_js %}
	<script src="/static/bower_components/selectize/dist/js/standalone/selectize.js"></script>
	<script type="text/javascript">
	// TODO: replace selectize with select2
		var tags = [
			// PORT-TODO: properly set tags here
			{% for tag in tags %}
				'{{ tag }}',
			{% endfor %}
		];

		// init selectize.js
		$(function(){
		    // create selectize with a bit of custom flamboyance
			var $select = $('#filter-free').selectize({
			    maxItems: null,
			    valueField: 'title',
			    labelField: 'title',
			    searchField: 'title',
			    sortField: 'title',
			    options: tags.map(function(elem){ return {title: elem}; }),
			    openOnFocus: false,
			    hideSelected: true,
			    create: function(input, callback) { callback({title: input}); },
			    render: {
			        option_create: function(data, escape) {
			        	return '<div class="create">Danach suchen: <strong>' + escape(data.input) + '</strong></div>';
			        },
			    },
			});

			// add listener for updating address table
			var selectize = $select[0].selectize;
			selectize.focus();
			selectize.on('item_add', function(value, item) {
				is_tag = tags.indexOf(value) >= 0;
				refineFilter(value, is_tag);
				selectize.close(); // TODO: geht nicht für neue Suchdinger
			});
			selectize.on('item_remove', function(value) {
				unrefineFilter(selectize.getValue());
				console.log("penis?????");
				selectize.close(); // TODO: close() does not work
				console.log("affe adrian");
			});
		});

		// context insensitive :contains selector [see: http://css-tricks.com/snippets/jquery/make-jquery-contains-case-insensitive/]
		$.expr[":"].cicontains = $.expr.createPseudo(function(arg) {
		    return function( elem ) {
		        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
		    };
		});

		// apply filters to the table
		var rows = $("#address-filterable").find("a.tr");

		function refineFilter(value, is_tag) {
			if (is_tag) {
				// only look up matches within the tags
				rows.filter(function() {
					/* returns TRUE iff. tr.data("tags") does NOT contain <value>  */
					row_tags = $(".tag-field span", this); // get all tags of a row
					row_tags = row_tags.filter(":cicontains('" + value + "')") // filter matching tags
					return row_tags.length == 0; // return TRUE iff nothing matched
				}).hide();
			} else {
				// look up matches within everything (this includes tags)
				rows.filter(":not(:cicontains('" + value + "'))").hide();
			}
		}

		function unrefineFilter(values) {
			// we need to reapply all other filters
			// -> the complement of those not satisfying <value> might be too general
			rows.show();
			values.forEach(function(value) {
				is_tag = tags.indexOf(value) >= 0;
				refineFilter(value, is_tag);
			});
		}
	</script>
{% endblock extra_js %}

{% block body %}
	{# TODO: maybe should display a modal instead of redirecting to a dedicated detail page #}

	<div class="row">
		<h1>Adressbuch</h1>
		<div id="address-filter" class="row">
				<div class="twelve columns selectize field invis-border">
					<select id="filter-free" placeholder="Freitextfilter...">
					</select>
				</div>
		</div>

		<div id="address-book">
			<div class="thead">
				<div class="tr">
					<div class="th first-name">Vorname</div>
					<div class="th last-name">Nachname</div>
					<div class="th email">eMail</div>
					<div class="th phone">Telefon</div>
				</div>
			</div>
			<div class="tbody" id="address-filterable">

				{# TODO-PORT: properly add table rows #}			
				{% for entry in addresses %}
					<a href="/addr/{{ entry.0 }}" class="tr">
						<div class="tag-field">
							{% for tag in entry.1 %}
								<span>{{ tag }}</span>
							{% endfor %}
						</div>
						<div class="td first-name">{{ entry.2 }}</div>
						<div class="td last-name">{{ entry.3 }}</div>
						<div class="td email">{{ entry.4 }}</div>
						<div class="td phone">{{ entry.5 }}</div>
					</a>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock body %}