{% extends "base.html" %}

{% block body %}
	<!-- LANDING PAGE -->
	<div id="landing-menu">
		<div class="row">
			<a class="tile" id="minute-list" href="/prot/">
				<h1><i class="icon-docs"></i></h1>
				<h3>Protokollliste</h3>
			</a>
			<a class="tile" id="open-bill" href="#">
				<h1>77,42€</h1>
				<h3>offene Rechnungen</h3>
			</a>
		</div>
		<div class="row">
			<a class="tile" id="write-minute" href="/prot/change/meta">
				<h1><i class="icon-doc-text"></i></h1>
				<h3>Protokoll schreiben</h3>
			</a>
			<a class="tile" id="search" href="/addr/">
				<h1><i class="icon-user"></i></h1>
				<h3>Addressbuch</h3>
			</a>
		</div>
	</div>
	<!-- end LANDING PAGE -->
{% endblock body %}