{% extends 'base.html' %}

{% block content %}
	<div class="landing-tiles">
		<a class="tile1" href="/">
			<h1><i class="icon-docs"></i></h1>
			<h3>Protokollliste</h3>
		</a>
		<a class="tile2" href="/">
			<h1>77,42€</h1>
			<h3>offene Rechnungen</h3>
		</a>
	</div>
	<div class="landing-tiles">
		<a class="tile3" href="/">
			<h1><i class="icon-doc-text"></i></h1>
			<h3>Protokoll schreiben</h3>
		</a>
		<a class="tile4" href="/">
			<h1><i class="icon-user"></i></h1>
			<h3>Addressbuch</h3>
		</a>
	</div>
{% endblock content %}