{% extends "base.html" %}

{% block navi %}{% endblock %}
{% block body %}
	<div id="login" class="active modal">
		<div class="content">
			<div class="row">
				<div class="ten columns centered">
					<h2 class="text-center">Login</h2>
					<form action="/">
						<div class="field">
							<label for="username">Benutzername</label>
							<input id="username" type="text">
						</div>
						<div class="field">
							<label for="pw">Passwort</label>
							<input id="pw" type="password">
						</div>
						<input class="button" type="submit" value="Einloggen">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}