<div class="row">
	<div class="navbar row" id="nav">
		<!-- on mobile devices: display foldable menu -->
		<a class="toggle btn" gumby-trigger="#nav > ul" href="#"><i class="icon-menu"></i></a>
		<!-- page logo and home link -->
		<h1 class="four columns logo">
			<a href="/"><img src="/static/img/gumby_mainlogo.png" gumby-retina=""></a>
		</h1>
		<!-- nav elements -->
		<ul class="eight columns">
			<li><a href="/addr/">Adressen</a></li>
			<li><a href="/prot/">Protokolle</a></li>
			<li><a href="#">Getränke</a></li>
			<li><a href="#">Profil</a></li>
			<li><a href="/login">Logout</a></li>
		</ul>
	</div>
</div>