{% extends "base.html" %}

{% block extra_js %}
<script src="/static/bower_components/select2/select2.js"></script>
<script type="text/javascript">
	$("#tags").select2({
		tags:["Fachschaft", "Institution", "Dozent", "Professor", "Mitarbeiter", "Fachschaftler", "Student", "Fachschaft"],
		formatNoMatches: function(term) {
			return "Weiteren Tag eingeben und Enter drücken";
		}
	});
</script>
{% endblock extra_js %}

{% block body %}
	<!-- LANDING PAGE -->
	<div id="profile">
		<h1>Profil ändern</h1>

		<form>
			<div class="field">
				<label for="firstname">Vorname</label>
				<input id="firstname" type="text">
			</div>
			<div class="field">
				<label for="lastname">Nachname</label>
				<input id="lastname" type="text">
			</div>
			<div class="field">
				<label for="mail">eMail</label>
				<input id="mail" type="text">
			</div>
			<div class="field">
				<label for="phone">Telefon</label>
				<input id="phone" type="text">
			</div>
			<div class="field">
				<label for="birth">Geburtstag</label>
				<input id="birth" type="text">
			</div>
			<div class="field">
				<label for="addr">Anschrift</label>
				<input id="addr" type="text">
			</div>
			<div class="field">
				<label for="stuff">Sonstiges</label>
				<textarea id="stuff"></textarea>
			</div>
			<div class="field">
				<label for="tags">Tags</label>
				<div class="nested">
					<input id="tags" type="text">
				</div>
			</div>
			<input class="button" type="submit">
		</form>
	</div>
	<!-- end LANDING PAGE -->
{% endblock body %}