{% extends "base.html" %}

{% block extra_style %}{% endblock extra_style %}

{% block extra_js %}{% endblock extra_js %}

{% block body %}
	<div class="row">
		<h1>Protokolle</h1>

		<div class="shout">
			<a class="button" href="/prot/change/meta">Neues Protokoll anlegen</a>
		</div>

		<div id="minutes-list">
			<div class="thead">
				<div class="tr">
					<div class="th date">Sitzung</div>
					<div class="th center name">Protokollant</div>
					<div class="th center name removable">Leitung</div>
					<div class="th center date xremovable">Veröffentlichung</div>
					<div class="th center bool removable">Beschlussfähig</div>
				</div>
			</div>
			<div class="tbody">
				{% for prot in prots %}
					<a class="tr" href="{{ prot.0 }}">
						<div class="td">{{ prot.1 }}</div>
						<div class="td center">{{ prot.2 }}</div>
						<div class="td center removable">{{ prot.3 }}</div>
						<div class="td center xremovable">{{ prot.4 }}</div>
						<div class="td center removable">
							{% if prot.5 %}
								<i class="icon-check"></i>
							{% else %}
								<i class="icon-cancel"></i>
							{% endif %}
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock body %}