{% extends "base.html" %}

{% block extra_style %}{% endblock extra_style %}

{% block extra_js %}{% endblock extra_js %}

{% block body %}
	<div id="minute-view" class="row">
		<h1>Protokoll vom {{ prot.1 }}</h1>

		<div id="minute-add">
			<!-- TODO: change minute-add something more general -> here it is a change button -->
			<a href="/prot/change/">Protokoll bearbeiten</a>
		</div>

		<div class="meta row">
			<div class="field">
				<div class="head">Protokollant</div>
				<div class="tail">{{ prot.2 }}</div>
			</div>
			<div class="field">
				<div class="head">Sitzungsleitung</div>
				<div class="tail">{{ prot.3 }}</div>
			</div>
			<div class="field">
				<div class="head">Veröffentlichung</div>
				<div class="tail">{{ prot.4 }}</div>
			</div>
			<div class="field">
				<div class="head">Beschlussfähig</div>
				<div class="tail">
					{% if prot.5 %}
						<span class="label success">Ja - X von YY</span>
					{% else %}
						<span class="label danger">Nein - X von YY</span>
					{% endif %}
				</div>
			</div>
			<div class="field">
				<div class="head">Anwesende</div>
				<div class="tail">{{ fsr|join(', ') }}</div>
			</div>
			<div class="field">
				<div class="head">Gäste</div>
				<div class="tail">{{ guest|join(', ') }}</div>
			</div>
		</div>

		<div class="top row">
			<h2>Tagesordnung</h2>
			<ol>
				{% for x in range(5) %}
					<li><a href="#top{{x}}">lorem ipsum dolor</a><br></li>
				{% endfor %}
			</ol>
		</div>
		{% for x in range(5) %}
			<div id="top{{x}}" class="top row">
				<h2>
					<a class="hideclose toggle" gumby-trigger="#top{{x}}" href="#">
						<i class="icon-right-dir"></i>
						<i class="icon-down-dir"></i>
					</a>
					<span class="removable">TOP{{x}}: </span>...
				</h2>
				<div class="inner">{{ lipsum(3) }}</div>
			</div>
		{% endfor %}
	</div>
{% endblock body %}