{% extends "base.html" %}

{% block extra_style %}{% endblock extra_style %}

{% block extra_js %}{% endblock extra_js %}

{% block body %}
	<div id="minute-new" class="row">
		<h1>Neues Protokoll</h1>

		<form>
			<div class="field">
				<label for="date">Sitzungsdatum</label>
				<input id="date" type="date" />
			</div>
			<div class="field">
				<label for="writer">Protokollant</label>
				<input id="writer" type="text" />
			</div>
			<div class="field">
				<label for="leader">Sitzungsleitung</label>
				<input id="leader" type="text" />
			</div>
			<div class="field">
				<label for="cando">Beschlussfähig</label>
				<input id="cando" type="text" />
			</div>
			<div class="field">
				<label for="fsr">Anwesenheit</label>
				<input id="fsr" type="text" />
			</div>
			<div class="field">
				<label for="guest">Gäste</label>
				<textarea id="guest"></textarea>
			</div>
		</form>
	</div>
{% endblock body %}