.select2-container {
	width: 100%;

	.select2-choice {
		@include line-and-height(height-calc($norm));
		border: 1px solid $border-color;
		background: $form-text-input-background;
		// color: $form-text-input-color;
		color: $black; // TODO: why is it black and not from a color var?
		@include border-radius(0);
		font-size: $norm;

		.select2-chosen {
			margin-right: height-calc($norm);
		}
		.select2-arrow {
			border: none;
			// border-left: 1px solid $border-color;
			@include border-radius(0);
			width: height-calc($norm);
			// background: $grey;
			// color: color-of($grey);
			background: inherit;
			color: $border-color;
			b {
				background: none;
				text-align: center;
				&:after {
					font-family: "entypo";
					content: "#{$entypo-icon-down-open-big}";
				}
			}
		}
	}

	&.select2-dropdown-open .select2-choice .select2-arrow b:after {
		content: "#{$entypo-icon-up-open-big}";
	}

	&.select2-container-active .select2-choice {
		border: 1px solid $turquoise;
		@include box-shadow(none);
	}

	&.select2-dropdown-open.select2-container-active .select2-choice {
		border-bottom: 1px solid $border-color;
	}

	// &:hover, &.select2-dropdown-open {
	// 	.select2-choice .select2-arrow {
	// 		background: hover-of($grey);
	// 		color: color-of(hover-of($grey));
	// 	}
	// }
}

.select2-drop {
	// margin-top: 0;
	border: 1px solid $turquoise;
	border-top: none;
	@include box-shadow(none);
	@include border-radius(0);

	.select2-search {
		margin-top: 5px;
		padding: 0 5px;

		input {
			background: $form-text-input-background;
			border-color: $border-color;
			@include line-and-height(height-calc($norm));
			font-family: $font-family;
			padding: 0 10px;
		}
	}
	.select2-results {
		margin: 5px;
		padding: 0;
		.select2-result {
			@include line-and-height(height-calc($norm));
			font-size: $norm;
			padding: 0;

			&.select2-highlighted {
				background: $turquoise;
				color: color-of($turquoise);
			}
			.select2-result-label {
				padding: 0 10px;
			}
		}
		.select2-no-results {
			margin-top: 4px;
			padding: 0 10px;
			@include line-and-height(height-calc($norm));
			background: none;
			font-style: italic;
		}
	}
}