/**************************************************************************************/
/************************************** GENERALS **************************************/
/**************************************************************************************/

@mixin last-man-standing($type: "padding") {
	#{$type}-bottom: $gutter;
}

@mixin button($color) {
	@extend .btn, .primary, .medium;
	background: $color;
	border-color: $color;
	@include color-of($color);
	&:hover {
		@include bg-hover-of($color);
		// color as funtion not include
	}
	// TODO: remove :hover border
	width: 100%;
	cursor: pointer;
}

@mixin vertical-padding($value) {
	padding-top: $value;
	padding-bottom: $value;
}
@mixin horizontal-padding($value) {
	padding-left: $value;
	padding-right: $value;
}

@mixin vertical-margin($value) {
	margin-top: $value;
	margin-bottom: $value;
}
@mixin horizontal-margin($value) {
	margin-left: $value;
	margin-right: $value;
}

.padding-top { padding-top: $small; }
.padding-bottom { padding-bottom: $small; }
.padding-left { padding-left: $small; }
.padding-right { padding-right: $small; }
.padding-vertical { @extend .padding-top, .padding-bottom; }
.padding-horizontal { @extend .padding-left, .padding-right; }
.padding { @extend .padding-horizontal, .padding-vertical; }

@mixin table($bg, $hover, $font-color, $font-size) {
	// TODO: defaults for vars
	display: table; @extend table;
	.tr { display: table-row; @extend tr; }
	.td { display: table-cell; @extend td; }
	.th { display: table-cell; @extend th; }
	.thead { display: table-header-group; @extend thead; }
	.tbody { display: table-row-group; @extend tbody; }

	.td.center, .th.center { text-align: center; }
	.td.left, .th.left { text-align: left; }
	.td.right, .th.right { text-align: right; }

	.thead .th {
		background: $bg;
		@include color-of($bg);
		@include line-and-height(height-calc($med));
		// TODO: border-bottom: 1px solid $table-border-color;
	}
	.tbody .tr {
		background: $bg;
		.td {
			@include font-size($font-size);
			font-weight: $font-weight-regular;
			color: $font-color;
		}
	}
	.tbody .tr:hover .td {
		background: $hover;
		@include color-of($hover);
	}
}

@mixin formfield() {
	@include row("nested");
	label {
		@include column(3);
		@include line-and-height(height-calc($norm));
	}
	input, textarea {
		@include column(9);
		@extend .input;
		left: 2px;
		&:first-child { left: auto; }
	}
	textarea { @extend .textarea; }
}


@mixin dropdown($size, $bg-color: $grey, $hover-color: $darkgrey, $border-color: $border-color, $offset: -1px, $orientation: "right") {
	/* $size: size of the button/trigger this dropdown is attached to
	 * $bg-color: background color of dropdown and entries
	 * $hover-color: background color of hovered entries
	 * $border-color: color of dropdown border, seperator and indicator arrow
	 * $offset: amount by which the dropdown is moved into its orientation
	 * $orientation: alignment of the dropdown to its button/trigger -> "left" or "right"
	 */
	position: relative;

	& > .dropdown {
		position: absolute;
		#{$orientation}: $offset;
		width: auto;
		z-index: 77777;
		display: none;
		border: none;
		padding-top: 11px;

		&:before {
			/* add an arrow to the drop down menu */
			content: "";
			display: block;
			position: absolute;
			top: 2px;
			right: $size/2 - 10px;
			width: 0;
			border-width: 0 10px 10px;
			border-style: solid;
			border-color: $border-color transparent;
		}
		& > hr {
			padding: 0;
			margin: 0;
			height: 1px;
			border-bottom: none;
		}
		& > a {
			display: block;
			width: 100%;
			border: none;
			white-space: nowrap;
			font-size: $norm;
			font-weight: $font-weight-regular;
			@include line-and-height(height-calc($norm));
			background-color: $bg-color;
			&:hover { background-color: $hover-color; }

			margin: 0;
			padding: 0 $norm;
			text-align: left;

			border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
			&:first-child { border-top: 1px solid $border-color; }
			&:last-child { border-bottom: 1px solid $border-color; }
		}
	}
	&:hover > .dropdown {
		display: block;
	}
}