/**************************************************************************************/
/************************************ LANDING PAGE ************************************/
/**************************************************************************************/

$tile-vertical-padding: $xxlarge !default;
$tile-horizontal-padding: $med !default;
$tile-main-size: $reallybig !default;
$tile-main-stretch-factor: 1.3 !default;
$tile-sub-size: $xlarge*0.8 !default;

@mixin tile-element($size, $size-stretch-factor: 1.0, $font-weight: $font-weight-regular) {
	padding: 0;
	margin: 0;
	display: block;
	height: $size*$size-stretch-factor; // TODO: auto on small screens?
	font-size: $size;
	line-height: $size;
	font-weight: $font-weight;
}

@mixin tile($bg, $isLink: true) {
	background: $bg;
	@include color-of($bg);
	@if $isLink { &:hover { @include bg-hover-of($bg); } }
}

#landing-menu {
	text-align: center;
	@include last-man-standing;

	.tile {
		@extend .six;
		@extend .columns;
		margin-top: $gutter;
		background: #ccc;
		display: block;
		padding: $tile-vertical-padding $tile-horizontal-padding;
		// height: $tile-main-size*$tile-main-stretch-factor + $tile-sub-size + 2*$tile-vertical-padding;

		// TODO: progressive linearisation -> maybe add a .long class where the font-size is lowered on small screens
		h1 { @include tile-element($tile-main-size, $tile-main-stretch-factor); }
		h3 { @include tile-element($tile-sub-size, $font-weight: $font-weight-light); }

		&#write-minute { @include tile($yellow); }
		&#open-bill { @include tile($brown); }
		&#minute-list { @include tile($red); }
		&#search { @include tile($green); }
	}

	& > .row:first-child > .tile {
		&:first-child { margin-top: 0; } // @mobile, tiles are linearized, thus only first tile borders the nav
		@include respond(desktop) { margin-top: 0; } // @desktop, it is a 2x2 grid, thus all tiles of the first tow border the nav
	}
}