
#login {
	@extend .modal, .active;

	form {
		@extend .content;
		max-width: 30em;
		text-align: center;

		h1, h2 { padding-top: 0; }
		input[type="text"], input[type="password"], label {
			width: 100%;
			margin: 0;
			text-align: center;
		}
		input[type="password"] { font-weight: normal; }
	}
}