/*****************************************************************************/
/********************************** MINUTES **********************************/
/*****************************************************************************/

#minute-add {
	// TODO: this is the same as in #addresss-filter -> mixin
	@extend .padding;
	margin-bottom: .5em;
	background: $table-bgcolor;
	& > a { @include button($turquoise); }
}

#minutes-list {
	@include table($table-bgcolor, $yellow,
		$body-font-color, $norm*0.9);

	th.bool { width: 15%; }
	th.date { width: 15%; }
	// th.name { width: 25%; }

	th, td {
		&.removable { @include hidden(all-phones); }
		&.xremovable {
			@include respond("max-width: 575px") {
				display: none;
			}
		}
	}
}

#minute-view {
	// TODO: proper red/green values for labels
	@include last-man-standing;

	.top, .meta {
		background: $white;
		@include horizontal-padding(1.5em);
	}

	.meta {
		@include vertical-padding(.75em);
		.field {
			@include row("nested");
			.head { @include column(3); }
			.tail { @include column(9); }
		}
		.label { @include border-radius(0); }
	}

	.top {
		@include vertical-padding(.25em);
		margin-top: .5em;

		&, p {
			@include hyphenation;
			text-align: justify;
		}
		.hideclose {
			display: inline-block;
			@include hidden(desktop);
			i.icon-right-dir, i.icon-down-dir { color: #333; font-size: 80%; }
		}
		@include respond(all-phones) {
			.inner, .removable { display: none; }
			.icon-down-dir { display: none; }
			&.active {
				.inner { display: block; }
				.icon-right-dir { display: none; }
				.icon-down-dir { display: inline-block; }
			}
		}
		// TODO: tyles for content
	}
}

#minute-edit {
	form {
		padding: 1.5em;
		background: $white;
		.field { @include formfield; }

		#top-widget {
	  		margin-bottom: 10px; // hardcoded as in Gumby
			display: table;
			width: 100%;
			& > .field, & > .button { display: table-cell; }
			& > .field input { width: 100%; }
			& > .button {
				// make it look like a button...
				@include button($grey);
				// ...and adjust dimension
				$size: height-calc($norm);
				@include line-and-height($size);
				width: $size;

				// no border between two successive buttons
				border-right-style: hidden;
				border-left-style: hidden;
				border-top: 1px solid $border-color;
				border-bottom: 1px solid $border-color;
				// first and last button, however, should be delimited
				&:first-of-type { border-left: none; }
				&:last-child { border-right: 1px solid $border-color; }

				@include dropdown($size);
			}
		}

		#save {
			margin-top: 1em;
			@include button($turquoise);
		}
	}

	.modal {
		// TODO: as global style?
		.close { color: $turquoise; }
		.content { min-height: 10%; }
		.field {
			@include formfield;
			input, textarea, .nested { @extend .nofix; }
		}
		h1, h2, h3, h4 h5, h5 { text-align: center; margin-bottom: 12px; }
		.button { @include button($turquoise); margin-top: 20px; }
	}

	#requestmodal .content #vote input { @include column(3); }
	#reordermodal .dropzone {
		height: 2px;
		// &:hover { background: $blue; }
	}
}

.request-list {
	.request {
		border: 1px solid $border-color;
		margin-bottom: 10px;
		@extend .padding;
		.title { font-weight: bold; }
		.howmuchisthefish { font-weight: bold; }
		.description {
			@include vertical-margin(.2em);
			@include hyphenation;
			text-align: justify;
		}
		.label {
			@include border-radius(0);
			&.accpeted { @extend .success; background: $green; }
			&.denied { @extend .danger; background: $red; }
		}
		.edit { float: right; }
	}
}

// ul.util-buttons {
// 	@include row("nested");
// 	& > li > a { @include button($grey); }
// 	&.two > li, & > li { @include column(6); }
// 	&.three > li { @include column(4); }
// 	&.four > li { @include column(3); }
// TODO: why does gumy don't do this for us?
// 	& > li:first-child { margin-left: 0; } 
// }