
// TODO: remove and move to dedicated folder "{selectize/select/chosen}"


// TODO: selectize border should be $border-color as default
@mixin selectize-border($color, $positions...) {
	@each $pos in $positions {
		border-#{$pos}: 1px solid $color;
	}
}

@mixin selectize-color-sheme($default: $border-color, $active: $turquoise) {
	.selectize-control {
		// border color
		.selectize-input {
			& { @include selectize-border($default, "top", "left", "bottom", "right"); }
		    &.focus { @include selectize-border($active, "top", "left", "bottom", "right"); }
		    &.dropdown-active { @include selectize-border($active, "top", "left", "right"); }
		}
		.selectize-dropdown {
			@include selectize-border($active, "left", "bottom", "right");
		}
		// selection color/bg
		.selectize-dropdown {
			.option, .create {
				&.active { background: $active; @include color-of($active); }
				.highlight { background: $active; }
			}
		}
	}
}

.selectize.field {
	overflow: visible;
	@include selectize-color-sheme();

	.selectize-control {
		.selectize-input {
			height: height-calc($norm);
			
			&, &.has-items,  {
				padding: 0 10px;
			}


		    &, &.dropdown-active {
		    	@include border-radius(0);
		    	@include box-shadow(none);
		    }

		    input, input.text {
		    	// TODO: too much pixel magic...
		    	height: height-calc($norm) - 2px; // the border does not belong to the input as usual
		    	line-height: height-calc($norm) - 2px !important; // Gumby seems to use !important already
				@include font-size($norm);
				-webkit-font-smoothing: auto; // use Gumby's hardcoded default
				color: $black;// TODO: improve this too hard-coded value
		    }
		    .item {
		    	// TODO: too much pixel magic...
		    	@include line-and-height(height-calc($norm)*0.8);
		    	@include font-size($norm - 2px);
		    	@include vertical-margin(height-calc($norm)*0.1); // vertically centered
		    }
		}

		.selectize-dropdown {
			// display: none !important;
			@include border-radius(0);
			@include box-shadow(none);
			.option, .create { @include font-size($norm - 2px); }
		}

		&.single {
			.selectize-input { 
				&::after, &.dropdown-active::after {
					// top: height-calc($norm)/2 !important;
					// margin-top: 0 !important;
					font-family: "entypo";
					content: "\e764";
					line-height: 36px;
					position: absolute;
					top: 0;
					right: 10px;
					border: none;
					margin: 0 !important;
					width: auto;
					height: auto;
				}
				&.dropdown-active::before { bottom: -2px; }
			}
		}
	}

}
