{% extends 'base.html' %}

{% block content %}
	<h1>Protokolle</h1>

	<div class="two buttons">
		<a href="/">Neues Protokoll anlegen</a>
		<a href="/">Neues VV-Protokoll anlegen</a>
	</div>

	<div class="list-table">
		<div class="thead">
			<div class="tr">
				<div class="th w-20  left">Sitzung</div>
				<div class="th w-20  center">Protokollant</div>
				<div class="th w-20  center">Leitung</div>
				<div class="th w-20  center">Veröffentlichung</div>
				<div class="th w-20  center">Genehmigt</div>
			</div>
		</div>
		<div class="tbody">
			<a href="/" class="tr">
				<div class="td w-20 left">dd.mm.yyyy</div>
				<div class="td w-20 center">Hans Wurst</div>
				<div class="td w-20 center">Dieter Karl Ulli</div>
				<div class="td w-20 center">-</div>
				<div class="td w-20 center"><i class="icon-check"></i></div>
			</a>
			<a href="/" class="tr">
				<div class="td w-20 left">dd.mm.yyyy</div>
				<div class="td w-20 center">Hans Wurst</div>
				<div class="td w-20 center">Dieter Karl Ulli</div>
				<div class="td w-20 center">-</div>
				<div class="td w-20 center"><i class="icon-cancel"></i></div>
			</a>
			<a href="/" class="tr">
				<div class="td w-20 left">dd.mm.yyyy</div>
				<div class="td w-20 center">Hans Wurst</div>
				<div class="td w-20 center">Dieter Karl Ulli</div>
				<div class="td w-20 center">dd.mm.yyyy</div>
				<div class="td w-20 center"><i class="icon-cancel"></i></div>
			</a>
			<a href="/" class="tr">
				<div class="td w-20 left">dd.mm.yyyy</div>
				<div class="td w-20 center">Hans Wurst</div>
				<div class="td w-20 center">Dieter Karl Ulli</div>
				<div class="td w-20 center">dd.mm.yyyy</div>
				<div class="td w-20 center"><i class="icon-check"></i></div>
			</a>
			<a href="/" class="tr">
				<div class="td w-20 left">dd.mm.yyyy</div>
				<div class="td w-20 center">Hans Wurst</div>
				<div class="td w-20 center">Dieter Karl Ulli</div>
				<div class="td w-20 center">dd.mm.yyyy</div>
				<div class="td w-20 center"><i class="icon-check"></i></div>
			</a>
		</div>
	</div>
{% endblock content %}